
# Created by https://www.gitignore.io/api/code,ruby,vuejs,rails
# Edit at https://www.gitignore.io/?templates=code,ruby,vuejs,rails

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Rails ##
backend/*.rbc
backend/capybara-*.html
backend/.rspec
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
backend/public/system
backend/coverage/
backend/spec/tmp
backend/*.orig
backend/rerun.txt
backend/pickle-email-*.html

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
backend/config/initializers/secret_token.rb
backend/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
backend/.env

## Environment normalization:
backend/.bundle
backend/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
backend/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
backend//vendor/assets/bower_components
backend/*.bowerrc
backend/bower.json

# Ignore pow environment settings
backend/.powenv

# Ignore Byebug command history file.
backend/.byebug_history

# Ignore precompiled javascript packs
backend/public/packs
backend/public/packs-test
backend/public/assets

# Ignore uploaded files in development
backend/storage/*
!backend/storage/.keep

### Ruby ###
backend*.gem
backend/.config
backend/InstalledFiles
backend/pkg/
backend/spec/reports/
backend/spec/examples.txt
backend/test/tmp/
backend/test/version_tmp/
backend/tmp/

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.

## Specific to RubyMotion:
backend/.dat*
backend/.repl_history
backend/build/
backend/*.bridgesupport
backend/build-iPhoneOS/
backend/build-iPhoneSimulator/

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# vendor/Pods/

## Documentation cache and generated files:
backend/.yardoc/
backend/_yardoc/
backend/doc/
backend/rdoc/

backend/.bundle/backend
backend/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:

### Ruby Patch ###
# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

# End of https://www.gitignore.io/api/code,ruby,rails

# Created by https://www.gitignore.io/api/vue,node,vuejs
# Edit at https://www.gitignore.io/?templates=vue,node,vuejs

### Node ###
# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
client/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
client/pids
client/*.pid
client/*.seed
client/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
client/lib-cov

# Coverage directory used by tools like istanbul
client/coverage
client/*.lcov

# nyc test coverage
client/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
client/.grunt

# Bower dependency directory (https://bower.io/)
client/bower_components

# node-waf configuration
client/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
client/build/Release

# Dependency directories
client/node_modules/
client/jspm_packages/

# TypeScript v1 declaration files
client/typings/

# TypeScript cache
client/*.tsbuildinfo

# Optional npm cache directory
client/.npm

# Optional eslint cache
client/.eslintcache

# Optional REPL history
client/.node_repl_history

# Output of 'npm pack'
client/*.tgz

# Yarn Integrity file
client/.yarn-integrity

# dotenv environment variables file
client/.env
client/.env.test

# parcel-bundler cache (https://parceljs.org/)
client/.cache

# next.js build output
client/.next

# nuxt.js build output
client/.nuxt

# rollup.js default build output
client/dist/

# Uncomment the public line if your project uses Gatsby
# https://nextjs.org/blog/next-9-1#public-directory-support
# https://create-react-app.dev/docs/using-the-public-folder/#docsNav
# public

# Storybook build outputs
client/.out
client/.storybook-out

# vuepress build output
client/.vuepress/dist

# Serverless directories
client/.serverless/

# FuseBox cache
client/.fusebox/

# DynamoDB Local files
client/.dynamodb/

# Temporary folders
client/tmp/
client/temp/

### Vue ###
client/.DS_*
client/**/*.backup.*
client/**/*.back.*

client/node_modules

client/*.sublime*

client/psd
client/thumb
client/sketch

### Vuejs ###
# Recommended template: Node.gitignore
# End of https://www.gitignore.io/api/vue,node,vuejs
