<!DOCTYPE html>
<head>

</head>
<body>
    <!-- Simple pop-up dialog box containing a form -->
    
<dialog open >
    <form >
        <P style="text-align: center;">Add Properties to Node</P><br>
      <form>
        <label >Value:</label>
        <input type="text" name="value">
      </form>
      <br>
      <form>
        <label >Topic:</label>
        <textarea rows="2" cols="25" name ="topic"></textarea>
      </form>
      <br>
      <form>
        <label >Statement:</label>
        <textarea rows="2" cols="25" name ="statement"></textarea>
      </form>
      <br>
      <form>
        <label >ExamBoard:</label>
        <textarea rows="2" cols="25" name ="examBoard"></textarea>
      </form>
      <br>
      
      <menu>
        <button value="cancel">Cancel</button>
        <button value="default">Save</button>
      </menu>
    </form>
  </dialog>
</body>
</html>